{% extends 'kingadmin/index.html' %}
<!-- # 从 配置文件中 读取路径  -->
{% load kingadmin_tags %}

{% block css %}

{% endblock %}
{% block right-content-container %}
      <h2 class="page-header">{{ model_name |upper}}</h2>
        <ol class="breadcrumb">
          <li><a href="/kingadmin">Home</a></li>
          <li><a href="/kingadmin/{{ app_name }}">/{{ app_name }}</a></li>
          <li><a href="/kingadmin/{{ app_name }}/{{ model_name }}">{{ model_name }}</a></li>
          <li class="active">{{  form_obj.instance.id }}</li>
        </ol>

      <h4 class="page-header">添加:{% get_model_name admin_class %}</h4>

    {% include 'kingadmin/table_obj_change_component.html' %}


{% endblock %}